<!doctype html>
<title>Index</title>
<head>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form role="form" action="/launch" method="post">
    <div class="form-group">
        <label for="version">Version</label>
        <input type="email" class="form-control" name="version" id="version" placeholder="Version">
    </div>
    <div class="form-group">
        <label for="revision">revision</label>
        <input type="password" class="form-control" name="revision" id="revision" placeholder="revision">
    </div>
    <div class="form-group">
        <label for="branch_url">branch_url</label>
        <input type="password" class="form-control" name="branch_url" id="branch_url" placeholder="branch_url">
    </div>
    <div class="form-group">
        <label for="mysql">mysql</label>
        <textarea class="form-control" name="mysql" id="mysql" placeholder="mysql" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="redis">redis</label>
        <textarea class="form-control" name="redis" id="redis" placeholder="redis" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="other">other</label>
        <textarea class="form-control" name="other" id="other" placeholder="other" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="function">function</label>
        <textarea class="form-control" name="function" id="function" placeholder="function" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

</body>